@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display : flex ;
    background-color: rgba(144, 238, 144, 0.281);
    background-position: center;
    background-size: cover;
}